body, html {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
}

#buttons {
    display: flex;
}

#numbers {
    display: flex;
}

#operators {
    display: flex;
}